<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Find peers</title>
	<!-- <link rel="preconnect" href="https://fonts.googleapis.com"> -->
	<!-- <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> -->
	<!-- <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap" rel="stylesheet"> -->
	<style>
		:root {
			color-scheme: dark;
			font-family: monospace;
			/* font-weight: 80; */
			font-weight: lighter;
			padding: 0 10px;
			font-size: 22px;
		}

		body {
			width: 100%;
			max-width: 1700px;
			margin: 0 auto;
		}

		h1,
		h6 {
			margin: 6px 0px 6px 0px;
		}
	</style>

	<script async>
		console.log('Source: https://github.com/SirMorfield/find-peers')
	</script>

</head>

<body>

</body>
<h1>Find Peers (Beta)</h1>
<h6>
	Hosted and build by Joppe Koers/<a href="https://profile.intra.42.fr/users/jkoers">@jkoers</a>
</h6>
<h6>
	For updates and feature requests please see the <a href="https://github.com/SirMorfield/find-peers">source</a> on github
</h6>
<h6>
	<%= error %>
</h6>

<footer>
	<a href="https://github.com/SirMorfield/find-peers">Source</a>
</footer>

</html>
