<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Find peers</title>

	<style>
		:root {
			color-scheme: dark;
			font-family: monospace;
			/* font-weight: 80; */
			font-weight: lighter;
			padding: 0 10px;
			font-size: 22px;
		}

		body {
			width: 100%;
			max-width: 1700px;
			margin: 0 auto;
		}

		h1,
		h6 {
			margin: 6px 0px 6px 0px;
		}
	</style>

</head>

<body>

</body>
<h1>Find Peers</h1>
<h1>
	<%= error %>
</h1>

<footer>
	<a href="https://github.com/codam-coding-college/find-peers">Source</a>
</footer>

</html>
