name: Containerize

on:
  push:
    branches:
      - main

jobs:
  build-and-publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Login to GitHub Package Registry
        uses: docker/login-action@v1
        with:
          registry: docker.pkg.github.com
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Docker image
        run: docker build -t docker.pkg.github.com/codam-coding-college/find-peers:latest .

      - name: Push Docker image to GitHub Package Registry
        run: docker push docker.pkg.github.com/codam-coding-college/find-peers:latest
